In [1]:
import pandas as pd
import seaborn as seaborn

In [2]:
df =  pd.read_csv('Real estate.csv')

In [3]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [4]:
x = df.drop(['Y house price of unit area'], axis = 1)

In [5]:
y = df['Y house price of unit area']

In [7]:
from sklearn.preprocessing import MaxAbsScaler

In [8]:
Maxab = MaxAbsScaler()

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size = .70)

In [12]:
Minmaxtrin = Maxab.fit_transform(xtrain)

In [13]:
xtrain.columns

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'],
      dtype='object')

In [16]:
xtrained = pd.DataFrame(Minmaxtrin, columns= ['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'])

In [17]:
xtrain = xtrained

In [19]:
xtrain.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,0.565217,0.999876,0.906393,0.051382,0.9,0.998624,0.999778
1,0.280193,0.999752,0.470320,0.113735,0.2,0.998654,0.999845
2,0.442029,0.999959,0.308219,0.330976,0.3,0.997937,0.999560
3,0.292271,0.999793,0.303653,0.075868,0.5,0.998024,0.999762
4,0.814010,0.999628,0.116438,0.287797,0.2,0.998780,0.999599

In [21]:
MinMaxtest = Maxab.transform(xtest)

In [22]:
xtest = pd.DataFrame(MinMaxtest, columns= ['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'])

In [23]:
xtest.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,0.094203,0.999545,0.070776,0.089081,0.6,0.998298,0.999843
1,0.502415,0.999752,0.878995,0.102506,0.3,0.998419,0.999759
2,0.780193,0.999710,0.294521,0.028897,0.1,0.998373,0.999700
3,0.782609,0.999918,0.652968,0.030384,0.6,0.998470,0.999820
4,0.811594,1.000000,0.623288,0.052035,0.6,0.997990,0.999789