# Normalization

In [114]:
import pandas as pd
import seaborn as seaborn

In [115]:
df =  pd.read_csv('Real estate.csv')

In [116]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [117]:
df.isnull().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [118]:
x = df.drop(['Y house price of unit area'], axis = 1)

In [119]:
x.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245

In [120]:
y = df['Y house price of unit area']

In [121]:
y.head()

0    37.9
1    42.2
2    47.3
3    54.8
4    43.1
Name: Y house price of unit area, dtype: float64

In [122]:
from sklearn.preprocessing import MinMaxScaler

In [123]:
MinMax = MinMaxScaler()

In [124]:
MinMax = MinMaxScaler()

In [125]:
from sklearn.model_selection import train_test_split

In [126]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size = .70)

In [127]:
xtrain.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
279,280,2013.417,2.6,1554.2500,3,24.97026,121.51642
350,351,2013.000,13.2,492.2313,5,24.96515,121.53737
110,111,2013.083,8.1,104.8101,5,24.96674,121.54067
72,73,2013.583,32.5,424.5442,8,24.97587,121.53913
235,236,2012.750,12.9,250.6310,7,24.96606,121.54297

In [128]:
Minmaxtrin = MinMax.fit_transform(xtrain)

In [129]:
xtrain.columns

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'],
      dtype='object')

In [130]:
xtrained = pd.DataFrame(Minmaxtrin, columns= ['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'])

In [131]:
xtrained.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,0.675545,0.818777,0.059361,0.243661,0.3,0.462797,0.452859
1,0.847458,0.363537,0.301370,0.074624,0.5,0.400873,0.682801
2,0.266344,0.454148,0.184932,0.012960,0.5,0.420141,0.719021
3,0.174334,1.000000,0.742009,0.063851,0.8,0.530780,0.702118
4,0.569007,0.090611,0.294521,0.036170,0.7,0.411900,0.744265

In [132]:
xtrain = xtrained

In [138]:
xtrain.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,0.675545,0.818777,0.059361,0.243661,0.3,0.462797,0.452859
1,0.847458,0.363537,0.301370,0.074624,0.5,0.400873,0.682801
2,0.266344,0.454148,0.184932,0.012960,0.5,0.420141,0.719021
3,0.174334,1.000000,0.742009,0.063851,0.8,0.530780,0.702118
4,0.569007,0.090611,0.294521,0.036170,0.7,0.411900,0.744265

In [139]:
MinMaxtest = MinMax.transform(xtest)

In [143]:
xtest = pd.DataFrame(MinMaxtest, columns= ['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'])

In [144]:
xtest.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,0.300242,0.272926,0.226027,0.040713,0.7,0.523631,0.771046
1,0.014528,0.000000,0.787671,0.095514,0.7,0.572710,0.672374
2,0.075061,0.090611,0.675799,0.118741,0.7,0.614881,0.646691
3,0.191283,0.363537,0.410959,0.221471,0.1,0.239336,0.809022
4,0.571429,0.545852,0.082192,0.055780,1.0,0.619850,0.685874

In [ ]:
df =