In [1]:
import pandas as pd
import seaborn as seaborn

In [2]:
df =  pd.read_csv('Real estate.csv')

In [3]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [4]:
x = df.drop(['Y house price of unit area'], axis = 1)

In [5]:
y = df['Y house price of unit area']

In [7]:
from sklearn.preprocessing import RobustScaler

In [9]:
rs = RobustScaler()

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size = .70)

In [12]:
Minmaxtrin = rs.fit_transform(xtrain)

In [13]:
xtrain.columns

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'],
      dtype='object')

In [14]:
xtrain = pd.DataFrame(Minmaxtrin, columns= ['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'])

In [15]:
xtrain.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,0.034146,-0.168,-0.811224,-0.196116,-1.0,0.160486,-0.648649
1,0.634146,-0.500,0.719388,0.468333,0.0,1.136189,-0.347598
2,-0.853659,-0.168,-0.448980,-0.036836,0.0,0.213555,0.578829
3,-0.107317,0.666,-0.122449,1.487515,-0.5,-0.594629,-1.981231
4,0.721951,-0.668,0.127551,1.961667,-0.5,-0.694373,-2.324324

In [17]:
MinMaxtest = rs.transform(xtest)

In [18]:
xtest = pd.DataFrame(MinMaxtest, columns= ['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'])

In [19]:
xtest.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,-0.741463,0.832,0.826531,0.850503,-0.50,0.121483,-1.631381
1,0.482927,0.666,1.142857,-0.047202,-1.25,-0.043478,-0.375375
2,0.565854,-0.834,-0.122449,3.329871,-1.25,-2.138107,-2.657658
3,-0.712195,0.666,0.734694,3.611180,-1.00,-1.473146,-3.289039
4,0.502439,-0.668,-0.285714,2.325586,-1.25,-1.131074,2.030030