# Standardization

In [13]:
import pandas as pd
import seaborn as seaborn

In [14]:
df =  pd.read_csv('Real estate.csv')

In [15]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [16]:
x = df.drop(['Y house price of unit area'], axis = 1)

In [34]:
y = df['Y house price of unit area']

In [35]:
from sklearn.preprocessing import StandardScaler

In [36]:
std = StandardScaler()

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size = .70)

In [39]:
Minmaxtrin = std.fit_transform(xtrain)

In [40]:
xtrain.columns

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'],
      dtype='object')

In [41]:
xtrained = pd.DataFrame(Minmaxtrin, columns= ['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'])

In [42]:
xtrain = xtrained

In [43]:
xtrain.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,-1.648326,-0.842804,-0.214911,0.274257,-1.053419,-1.338793,0.974599
1,1.569063,0.056126,-1.328977,-0.568365,1.008239,0.331475,0.410080
2,1.317704,0.955055,-0.214911,0.578772,-0.709809,-0.344948,-1.234359
3,1.443384,1.551944,-0.954720,0.768581,-1.053419,-1.377971,1.351636
4,1.024453,-0.544359,-0.362873,-0.246044,-0.709809,0.393840,1.050006

In [44]:
MinMaxtest = std.transform(xtest)

In [45]:
xtest = pd.DataFrame(MinMaxtest, columns= ['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'])

In [46]:
xtest.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,-1.036687,-0.842804,-0.798055,-0.796358,0.321019,-0.163449,0.438444
1,-1.614812,-1.741733,-1.224533,-0.558366,0.321019,0.964721,0.662591
2,1.527170,-0.245915,-0.832869,0.969241,-0.366200,-0.458485,-1.507624
3,-1.078580,-1.144844,-1.494346,-0.652051,-1.053419,0.480991,-0.258903
4,-0.324505,-1.741733,0.846934,2.908840,-1.397029,-1.583457,-2.637354